
config about jupyter and skill about markdown/.ipynb_checkpoints/How to insert photo in markdown-checkpoint.ipynb

config about jupyter and skill about markdown/.ipynb_checkpoints/Jupyter common shortcut keys and skill of markdown-checkpoint.ipynb

config about jupyter and skill about markdown/.ipynb_checkpoints/useful command about conda-checkpoint.ipynb

.ipynb_checkpoints/
